/* 基础样式 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #ffffffe9;
    background-color: #110736;
    padding: 20px;
}

header {
    background-color: #ffffff;
    padding: 2rem;
    margin-bottom: 2rem;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
    text-align: center;
}

header h1 {
    font-size: 2rem;
    color: #310404;
    font-weight: 600;
}

h2 {
    color: #050c27;
    font-size: 2.1rem;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #55b3ffd0;
    padding: 2rem;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
}

nav {
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
}

.nav-button {
    display: inline-block;
    padding: 1.5rem 2rem;
    background-color: #063109;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 500;
    font-size: 1.4rem;
    transition: background-color 0.3s ease;
}

.nav-button:hover {
    background-color: #5eb929;
}

.back-button {
    display: inline-block;
    margin-top: 2rem;
    padding: 0.75rem 2rem;
    background-color: #04272a;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 500;
    transition: background-color 0.3s ease;
}

.back-button:hover {
    background-color: #7f8c8d;
}

main p {
    font-size: 1.5rem;
    text-align: center;
    padding: 2rem;
    color: #fff;
}

.content {
    white-space: pre-line;
    text-align: left;
    color: #190101;
    font-size: 1.7rem;
    font-weight: 520;
}

.lang-main,
.tech-main {
    max-width: 1200px;
}

.index-main .nav-button {
    padding: 1.5rem 4rem;
    font-size: 1.5rem;
}

/* 响应式设计 */
@media (max-width: 768px) {
    header h1 {
        font-size: 1.5rem;
    }
    
    main {
        padding: 1rem;
    }
    
    nav {
        flex-direction: column;
    }
    
    .nav-button,
    .back-button {
        width: 100%;
        text-align: center;
    }
}
